<div class="container">
  <div class="user-details">
    <h3> About Us </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Meet our Team</h4>
      <img alt="mountains" src="{{ "/assets/img/team.png" | prepend: site.baseurl }}"/>
      <p>We're a team of makers, thinkers, explorers, creators and developers.
         We're serious about delivering great outcomes.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <img alt="mountains" src="{{ "/assets/img/coding.png" | prepend: site.baseurl }}"/>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
