<div class="container">
  <div class="user-details">
    <h3> Featured Posts </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/logoopenvayu.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Introduction to OpenVayu </h5>
      <h6><i> "Free the skies of its shackles for it prefers to fly”</i></h6>
      <p>OpenVayu is an initiative to bring together people from all across the board with a singular passion for making a change. We aim to research air quality and climate change and analyze how it affects our lifestyle and our planet, at large. Our vision is to mobilize thinkers and doers and to empower them for the betterment of our world.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/mQ135.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Influence of Temperature and Humidity on the Output Resistance Ratio of the MQ-135 Sensor </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Limited usage of MQ135 in the past years is attributed to a very poor quality datasheet which caused many researchers to conclude the sensitivity characteristic graph to be a power function[2]. Further power regression is used to find appropriate scaling and exponential factors. Our research augmented this mathematical calibration of the sensor addressing the temperature and humidity characteristics highlighted in the datasheet. We incorporate this influence in the form of a scaling factor whose values are derived from the datasheet and a comparative analysis between the two formulas is performed.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
